{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="d-flex flex-column vh-100 justify-content-between" style="background-color: #242426;">
    <main class="flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="container text-center text-light p-5 my-5" style="background-color: #242426; border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.5);">
           <img src="{{ asset('images/ChatTech.png') }}" alt="Logo ChatTech" style="max-width: 200px; height: auto; margin-bottom: 20px;">
            <h1 class="text-primary mb-4">Bienvenue sur notre site !</h1>
            <p class="lead">Découvrez un nouveau moyen de rester connecté avec vos amis.</p>
            <a class="btn btn-primary" href="{{ path('app_register') }}">Rejoignez-nous dès maintenant</a>
        </div>
    </main>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
